body {
    font-family: sans-serif;
    padding-left: 6em;
    padding-right: 6em;
    background-color: rgb(243, 181, 91);
}

.header {
    text-align: center;
    color: deepskyblue;
    border: .5em solid darkblue;
    margin-top: 2em;
    margin-left: 11em;
    margin-right: 11em;
    background-color: white;
}

section {
    margin-top: 2em;
    padding-bottom: .5em;
}

h2, h3 {
    font-size: x-large;
    text-align: center;
}

p {
    margin-left: 3em;
    margin-right: 3em;
}



.firstSection {
    border: .5em solid darkblue;
    color: darkblue;
    background-color: white;
}

.purpose {

}

.image {
    border: .5em solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: auto;
}

.secondSection {
    border: .5em solid darkblue;
    color: midnightblue;
    background-color: rgb(176, 204, 225);

}

.persona {


}