body {
    font-family: sans-serif;
    padding-left: 6em;
    padding-right: 6em;
    background-color: snow;
}

.header {
    text-align: center;
    color: darkblue;
    border: .5em solid black;
    margin-top: 2em;
    margin-left: 11em;
    margin-right: 11em;
    background-color: mediumaquamarine;
}

section {
    margin-top: 2em;
    padding-bottom: .5em;
}

h2, h3 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline .125em;
}

p {
    margin-left: 3em;
    margin-right: 3em;
}



.firstSection {
    border: .5em solid darkslategray;
    color: darkslategray;
    background-color: rosybrown;
}

.purpose {

}

.image {
    border: .5em solid steelblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    height: 15em;
    width: auto;
}

.secondSection {
    border: .5em solid midnightblue;
    color: midnightblue;
    background-color: deepskyblue;
}

.persona {


}