/**************************
********Milestone-1********
 ************************/

/*body {*/
/*    font-family: sans-serif;*/
/*    padding-left: 6em;*/
/*    padding-right: 6em;*/
/*    background-color: rgb(243, 181, 91);*/
/*}*/

/*.header {*/
/*    text-align: center;*/
/*    color: deepskyblue;*/
/*    border: .5em solid darkblue;*/
/*    margin-top: 2em;*/
/*    margin-left: 11em;*/
/*    margin-right: 11em;*/
/*    background-color: white;*/
/*}*/

/*section {*/
/*    margin-top: 2em;*/
/*    padding-bottom: .5em;*/
/*}*/

/*h2, h3 {*/
/*    font-size: x-large;*/
/*    text-align: center;*/
/*}*/

/*p {*/
/*    margin-left: 3em;*/
/*    margin-right: 3em;*/
/*}*/



/*.firstSection {*/
/*    border: .5em solid darkblue;*/
/*    background-color: white;*/
/*    border-radius: .25em;*/
/*}*/

/*.purpose {*/
/*    color: darkblue;*/
/*}*/

/*.image {*/
/*    border: .5em solid white;*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    height: 15em;*/
/*    width: auto;*/
/*}*/

/*.secondSection {*/
/*    border: .5em solid darkblue;*/
/*    background-color: rgb(176, 204, 225);*/
/*    border-radius: .25em;*/

/*}*/

/*.persona {*/
/*    color: midnightblue;*/
/*}*/



/*!********************************/
/**********Milestone-2*************/
/*********************************!*/
/*.contentBody {*/
/*    background-color: rgb(160, 200, 250);*/
/*    padding-left: 6em;*/
/*    padding-right: 6em;*/

/*}*/
/*.contentH1 {*/
/*    text-align: center;*/
/*    color: deepskyblue;*/
/*    border: .25em solid darkblue;*/
/*    margin-top: 2em;*/
/*    margin-right: 52em;*/
/*    margin-bottom: .5em;*/
/*    margin-left: 1em;*/
/*    background-color: white;*/
/*    padding:.25em;*/
/*}*/
/* .contentH {*/
/*    text-align: left;*/
/*    color: midnightblue;*/
/*     margin-left: 1em;*/
/* }*/

/*.contentP {*/
/*    color: darkblue;*/
/*}*/



/*.contentDescription {*/
/*    border: .275em solid darkorange;*/
/*    background-color: rgb(255, 184, 63);*/
/*    margin-bottom: .25em;*/
/*    border-radius: .25em;*/
/*    color: darkblue;*/
/*}*/


/*.sectionOne {*/
/*    border: .275em solid darkblue;*/
/*    background-color: rgb(175, 210, 240);*/
/*    border-radius: .25em;*/
/*    margin-bottom: .25em;*/

/*}*/

/*.sectionTwo {*/
/*    border: .275em solid darkorange;*/
/*    background-color: rgb(255, 184, 63);*/
/*    margin-bottom: .25em;*/
/*    border-radius: .25em;*/
/*}*/

/*.design {*/
/*    border: .275em solid darkorange;*/
/*    background-color: rgb(255, 184, 63);*/
/*    margin-bottom: .25em;*/
/*    border-radius: .25em;*/

/*}*/


/*!*************************/
/*********Wireframes********/
/* ************************!*/
/*.fullScreenLayout {*/
/*    !*border: 1em solid white;*!*/
/*}*/


/*.large1 {*/
/*    float: left;*/


/*}*/
/* .large2 {*/
/*     float: right;*/
/* }*/



/*.mobilLayout {*/
/*    !*border: 1em solid black;*!*/
/*}*/

/*************
****Colors****
*************/
/*:root {*/
/*    --bs-nav-pills-link-active-bg: rgba(88, 158, 250, 0.49);*/
/*}*/


.tab-content .active {
    background-color: white;
}


.active {
    background-color: rgba(88, 158, 250, 0.49) !important;
}


.black {
    background-color: #000000
}

.blue1 {
    color: #B0CCE1
}

.blue2 {
    background-color: #aed8fb
    /*background-color: #AFD2F0*/
}

.orange1 {
    background-color: #f9c161
}

.orange2 {
    background-color: #F3B55B
}

.orange3 {
    background-color: #ffb6398f
}
.purple1 {
    background-color: #8b8bf2ed
}

.purple2 {
    background-color: #cca4f0de
}

.purple3 {
    background-color: #fafaff63
}

.purple4 {
    background-color: #fdfdfd73;
}

.blue200 {
    background-color: #8DBEFB
}

.blue300 {
    background-color: #589EFA
}

.cyan400 {
    background-color: #45CFEF
}

.cyan500 {
    background-color: #42C3EB
}

.orange300 {
    color: #F8A96D
}

.orange400 {
    color: #F78D46
}

.red400 {
    color: #E85461
}

.red500 {
    color: #E12F40
}

.red600 {
    color: #AF2534
}
/*.green {*/
/*    border-color: #198754*/
/*}*/

.green300 {
    background-color: #61AE8E
}

.green400 {
    background-color: #2F946C
}

.teal400 {
    background-color: #50dbb0bf
}

.teal500 {
    background-color: #3CC28E
}

.yellow300 {
    background-color: #FBD569
}
.yellow350 {
    border-color: #FBD569
}

.yellow400 {
    background-color: #FAC644
}






